*/*.env
docker-engine/engine/lsa_experiments_ab.ttl
docker-engine/engine/lsa_experiments_tb.ttl
docker-engine/engine/semanticengine-1.0.1-SNAPSHOT-jar-with-dependencies.jar
docker-engine/*.env

docker-locust/*/locustfile.py
docker-locust/*.env


